//a
    span.glyphicon.glyphicon-ok
//a
    span.glyphicon.glyphicon-ban-circle
a(ng-click="block(code.id, $index)")
    span.glyphicon.glyphicon-warning-sign
a(ng-click="delete(code.id, $index)")
    span.glyphicon.glyphicon-remove
